<form action="/books/addbook" method="post">
  <input type="text" placeholder="Title of the book" name="booktitle">
  <input type="text" name="description" placeholder="description" id="">
  <input type="text" name="author" placeholder="author" id="">
  <input type="number" name="rating" placeholder="rating" id="">
  <button type="submit">SAVE BOOK</button>
</form>